<div class=" container mt-5">
    <div class="p-3 mb-2 bg-info text-white "  align="center">REPORTE DE CATEGORÍAS MÁS SELECCIONAS PARA EL VOLUNTARIADO  </div>
    <div class="card text-center">
        <div class="card-body">
            <canvas id="Productos"></canvas>
            
        </div>
        <div class="card-footer text-muted">
             
            <p class="font-weight-bold">
                Observación
            </p>
            <p class="text-justify">
             En esta sección podemos observar las estadísticas de preferencia de los usuarios al momento de seleccionar una determinada categoría para brindar sus servicios  de esta manera
            </p>
        </div>
    </div>
</div><br><br><br><br><br>



  
