<div class=" container mt-5">
    <div class="p-3 mb-2 bg-info text-white "  align="center">REPORTE DE VOLUNTARIOS POR GÉNERO</div>
    <div class="card text-center">
        <div class="card-body">
            <canvas id="Productos"></canvas>
            
        </div>
        <div class="card-footer text-muted">
             
            <p class="font-weight-bold">
                Observación
            </p>
            <p class="text-justify">
            En esta sección podemos observar el tipo de genero que mayor mente realiza algún tipo de voluntariado 
            </p>
        </div>
    </div>
</div><br><br><br><br><br>



  

